# Web Framework
fastapi
uvicorn
python-multipart
jinja2

# Data Processing & Image Handling
numpy
pillow
opencv-python
scikit-learn

# Deep Learning & AI
torch
torchvision
torchaudio
tensorflow
tensorflow-text
transformers
lime

# Face Recognition
face-recognition
facenet-pytorch

# API Data Models
pydantic
